@model CarRentalWebsite.Areas.Admin.Models.Transactions
<html>
<head>
    <title>Reports</title>
</head>
<body>
    <h1>Reports</h1>

    <!--Money Summary Stuff Here-->
    <div>
        <!--Total Earnings-->
        <div>
            @Html.Label("Total Earnings")
            @Model.total_Earnings
        </div>

        <!--Amounts Paid-->
        <div>
            @Html.Label("Amounts Paid")
            @Model.total_AmountPaid
        </div>

        <!--Total Refunds-->
        <div>
            @Html.Label("Total Refunds")
            @Model.total_Refunds
        </div>
    </div>

    <!--Table Here-->
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Car</th>
                    <th>Transaction ID</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Transaction Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Car.img</th>
                    <th>1001</th>
                    <th>Bruno</th>
                    <th>5,241</th>
                    <th>11/24/2024</th>
                    <th>Payment</th>

                    <td>
                        <button class="edit-btn">✏️</button>
                        <button class="delete-btn">🗑️</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>