@model CarRentalWebsite.Areas.Customer.Models.Reservation

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservation Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/Customer/css/reservation.css" />
</head>
<body>
    <div>
        <h2>Reservation</h2>
        @using (Html.BeginForm("SubmitReservation", "Reservation", FormMethod.Post, new { area = "Customer" }))
        {
                <div>
                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "validation-message" })
                
                    @Html.TextBoxFor(model => model.Email, new { type = "email", placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-message" })
                
                    @Html.TextBoxFor(model => model.PhoneNumber, new { type = "tel", placeholder = "Phone Number" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "validation-message" })
                
                    @Html.Label("Pickup Location", "Pick-up Location:")
                    @Html.TextBoxFor(model => model.PickupLocation, new { placeholder = "City, Airport, Address or hotel" })
                    @Html.ValidationMessageFor(model => model.PickupLocation, "", new { @class = "validation-message" })
                
                    @Html.Label("Return Location", "Return Location:")
                    @Html.TextBoxFor(model => model.ReturnLocation, new { placeholder = "City, Airport, Address or hotel" })
                    @Html.ValidationMessageFor(model => model.ReturnLocation, "", new { @class = "validation-message" })
                
                    @Html.LabelFor(model => model.FromDate, "From Date:")
                    @Html.TextBoxFor(model => model.FromDate, "{0:yyyy-MM-dd}", new { type = "date" })
                    @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "validation-message" })
                
                    @Html.LabelFor(model => model.FromTime, "From Time:")
                    @Html.TextBoxFor(model => model.FromTime, "{0:HH:mm}", new { type = "time" })
                    @Html.ValidationMessageFor(model => model.FromTime, "", new { @class = "validation-message" })
                
                    @Html.LabelFor(model => model.UntilDate, "Until Date:")
                    @Html.TextBoxFor(model => model.UntilDate, "{0:yyyy-MM-dd}", new { type = "date" })
                    @Html.ValidationMessageFor(model => model.UntilDate, "", new { @class = "validation-message" })
                
                    @Html.LabelFor(model => model.UntilTime, "Until Time:")
                    @Html.TextBoxFor(model => model.UntilTime, "{0:HH:mm}", new { type = "time" })
                    @Html.ValidationMessageFor(model => model.UntilTime, "", new { @class = "validation-message" })
                
                    <button type="submit">Submit</button>
                </div>

        }
        <h2>Comfort, space, and performance—your ideal fleet awaits.</h2>
        <h4>Our Cars</h4>
        <p>Check our car categories</p>

        <div class = "car-category">
            <p> <strong>Group A</strong></p>
            <p>From ₱ 950 To 1,250</p>
            <p>Group A - Hatchback Automatic/Manual Transmission</p>  
            <img src="@Url.Content("~/Customer/img/img_a.png")" alt="Group A" />
            <button type="button" onclick="window.location.href='@Url.Action("Fleet", "Fleet", new { area = "Customer" })'">Book Now</button>

            <p> <strong>Group B</strong></p>
            <p>From ₱ 950 To 1,250</p>
            <p>Group B - Sedan Automatic/Manual Transmission</p>  
            <img src="@Url.Content("~/Customer/img/img_b.png")" alt="Group A" />
            <button type="button" onclick="window.location.href='@Url.Action("Fleet", "Fleet", new { area = "Customer" })'">Book Now</button>

            <p> <strong>Group C</strong></p>
            <p>From ₱ 950 To 1,250</p>
            <p>Group C - SUV Automatic/Manual Transmission</p>  
            <img src="@Url.Content("~/Customer/img/img_c.png")" alt="Group A" />
            <button type="button" onclick="window.location.href='@Url.Action("Fleet", "Fleet", new { area = "Customer" })'">Book Now</button>

            <p> <strong>Group D</strong></p>
            <p>From ₱ 950 To 1,250</p>
            <p>Group D - Pick-up Truck Automatic/Manual Transmission</p>  
            <img src="@Url.Content("~/Customer/img/img_d.png")" alt="Group A" />
            <button type="button" onclick="window.location.href='@Url.Action("Fleet", "Fleet", new { area = "Customer" })'">Book Now</button>

            <p> <strong>Group E</strong></p>
            <p>From ₱ 950 To 1,250</p>
            <p>Group E - Van Automatic/Manual Transmission</p>  
            <img src="@Url.Content("~/Customer/img/img_e.png")" alt="Group A" />
            <button type="button" onclick="window.location.href='@Url.Action("Fleet", "Fleet", new { area = "Customer" })'">Book Now</button>
        </div>
    </div>
</body>
</html>