@using CarRentalWebsite.Areas.Customer.Helpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/Customer/css/fleet.css" />
</head>
<body>
    <header>
        <div class="top-container">
            <div class="main-text">
                <h1>OUR FLEET</h1>
                <p>BROWSE OUR COLLECTION OF WELL-MAINTAINED AND CLEAN VEHICLES.</p>
            </div>
        </div>
    </header>

    <main>
        <div class="dropdown-container">
            @Html.DropDownList(
                     "CarCategory",
                     new List<SelectListItem>
            {
            new SelectListItem { Text = "Car categories", Value = "", Selected = true, Disabled = true }, 
            new SelectListItem { Text = "Hatchback", Value = "Hatchback" },
            new SelectListItem { Text = "Sedan", Value = "Sedan" },
            new SelectListItem { Text = "SUV", Value = "SUV" },
            new SelectListItem { Text = "Pick-Up Trucks", Value = "Pick-Up Trucks" },
            new SelectListItem { Text = "Van", Value = "Van" }
            },
                     htmlAttributes: new { @class = "car-category-dropdown" }
                     )
        </div>

        <div class="bottom-container">

            @foreach (var car in Model)
            {
                <div class="product-container">
                    <div class="image-placeholder">
                        <div class="img-box">
                            @Html.ImageWithSize(Url.Content((string)car.CarImage), alt: "CarImage")
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <div class="button-flex">
                                <h2><strong>@car.CarModel</strong></h2>
                                <button class="btn">BOOK NOW</button>
                            </div>
                            <p class="car-transmission">@car.CarTransmission</p>
                        </div>
                        <h4><strong>Price (per day)</strong></h4>
                        <p class="p-labels">@car.FormattedCarPrice</p>
                        <div class="car-icons-flex">
                            <p class=car-icons-number><img src="@Url.Content("~/Customer/img/car_door.png")" /></p>
                            <p class=car-icons-number>@car.CarDoor</p>
                            <p class=car-icons-number><img src="@Url.Content("~/Customer/img/car_seat.png")" /></p>
                            <p class=car-icons-number>@car.CarSeat</p>
                        </div>
                        <h4><strong>Car Category: </strong></h4>
                        <p class="p-labels">@car.CarCategory.</p>
                        <h4><strong>Top Feature:</strong></h4>
                        <p class="p-labels">@car.CarTopFeature.</p>
                        <h4><strong>Safety:</strong></h4>
                        <p class="p-labels">@car.CarSafety</p>
                    </div>
                    
                </div>
            }
        </div>
    </main>
</body>
</html>
