@using CarRentalWebsite.Areas.Customer.Helpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/Customer/css/fleet.css" />
    <script>
         function populateTextbox(carId) {
             document.getElementById("carId").value = carId;
            
        }
    </script>
</head>
<body>
    <header>
        <div class="top-container">
            <div class="main-text">
                <h1>OUR FLEET</h1>
                <h3>BROWSE OUR COLLECTION OF WELL-MAINTAINED AND CLEAN VEHICLES.</h3>
            </div>
        </div>
    </header>

    <main>
        <div class="reservation-container">
            <label for="Id">Car ID:</label>
            <input type="text" id="carId" readonly />
        </div>

        <div class="dropdown-container">
            @Html.DropDownList(
                     "CarCategory",
                     new List<SelectListItem>
            {
            new SelectListItem { Text = "Car categories", Value = "", Selected = true, Disabled = true }, 
            new SelectListItem { Text = "Hatchback", Value = "Hatchback" },
            new SelectListItem { Text = "Sedan", Value = "Sedan" },
            new SelectListItem { Text = "SUV", Value = "SUV" },
            new SelectListItem { Text = "Pick-Up Trucks", Value = "Pick-Up Trucks" },
            new SelectListItem { Text = "Van", Value = "Van" }
            },
                     htmlAttributes: new { @class = "car-category-dropdown" }
                     )

            @Html.DropDownList(
                     "Transmission",
                     new List<SelectListItem>
            {
            new SelectListItem { Text = "Transmission", Value = "", Selected = true, Disabled = true },
            new SelectListItem { Text = "Automatic", Value = "AT" },
            new SelectListItem { Text = "Manual", Value = "MT" },
            new SelectListItem { Text = "Automatic/Manual", Value = "AT/MT" },
            new SelectListItem { Text = "CVT", Value = "CVT" },
            },
                     htmlAttributes: new { @class = "car-category-dropdown" }
                     )

            @Html.DropDownList(
                     "Sort by",
                     new List<SelectListItem>
            {
            new SelectListItem { Text = "Price", Value = "", Selected = true, Disabled = true },
            new SelectListItem { Text = "Price Low to High", Value = "PriceLTH" },
            new SelectListItem { Text = "Price High to Low", Value = "PriceHTL" },
            },
                     htmlAttributes: new { @class = "car-category-dropdown" }
                     )
        </div>

        <div class="bottom-container">

            @foreach (var car in Model)
            {
                <div class="product-container">
                    <div class="image-placeholder">
                        <div class="img-box">
                            @Html.ImageWithSize(Url.Content((string)car.CarImage), alt: "CarImage")
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <div class="button-flex">
                                <h2><strong>@car.CarModel</strong></h2>
                                <button class="btn" onclick="populateTextbox('@car.CarModel', '@car.CarId')">BOOK NOW</button>
                            </div>
                            <p class="car-transmission">@car.CarTransmission</p>
                        </div>
                        <h4><strong>Price (per day)</strong></h4>
                        <p class="p-labels">@car.FormattedCarPrice</p>
                        <div class="car-icons-flex">
                            <p class=car-icons-number><img src="@Url.Content("~/Customer/img/car_door.png")" /></p>
                            <p class=car-icons-number>@car.CarDoor</p>
                            <p class=car-icons-number><img src="@Url.Content("~/Customer/img/car_seat.png")" /></p>
                            <p class=car-icons-number>@car.CarSeat</p>
                        </div>
                        <h4><strong>Car Category: </strong></h4>
                        <p class="p-labels">@car.CarCategory.</p>
                        <h4><strong>Top Feature:</strong></h4>
                        <p class="p-labels">@car.CarTopFeature.</p>
                        <h4><strong>Safety:</strong></h4>
                        <p class="p-labels">@car.CarSafety</p>
                    </div>
                    
                </div>
            }
        </div>
    </main>
</body>
</html>
