@model CarRentalWebsite.Areas.Customer.Models.ReservationModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/Customer/css/fleet.css" />
    <script src="~/Customer/js/fleet.js" defer></script>
</head>
<body>
    <h2>Reservation</h2>
@using (Html.BeginForm("SubmitReservation", "Fleet", FormMethod.Post, new { area = "Customer" }))
{
    <div>
        @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
        @Html.ValidationMessageFor(model => model.Name)

        @Html.TextBoxFor(model => model.Email, new { type = "email", placeholder = "Email" })
        @Html.ValidationMessageFor(model => model.Email)

        @Html.TextBoxFor(model => model.PhoneNumber, new { type = "tel", placeholder = "Phone Number" })
        @Html.ValidationMessageFor(model => model.PhoneNumber)

        @Html.Label("Pickup Location", "Pick-up Location:")
        @Html.TextBoxFor(model => model.PickupLocation, new { placeholder = "City, Airport, Address or hotel" })
        @Html.ValidationMessageFor(model => model.PickupLocation)

        @Html.Label("Return Location", "Return Location:")
        @Html.TextBoxFor(model => model.ReturnLocation, new { placeholder = "City, Airport, Address or hotel" })
        @Html.ValidationMessageFor(model => model.ReturnLocation)

        @Html.LabelFor(model => model.FromDate, "From Date:")
        @Html.TextBoxFor(model => model.FromDate, "{0:yyyy-MM-dd}", new { type = "date" })
        @Html.ValidationMessageFor(model => model.FromDate)

        @Html.LabelFor(model => model.FromTime, "From Time:")
        @Html.TextBoxFor(model => model.FromTime, "{0:HH:mm}", new { type = "time" })
        @Html.ValidationMessageFor(model => model.FromTime)

        @Html.LabelFor(model => model.UntilDate, "Until Date:")
        @Html.TextBoxFor(model => model.UntilDate, "{0:yyyy-MM-dd}", new { type = "date" })
        @Html.ValidationMessageFor(model => model.UntilDate)

        @Html.LabelFor(model => model.UntilTime, "Until Time:")
        @Html.TextBoxFor(model => model.UntilTime, "{0:HH:mm}", new { type = "time" })
        @Html.ValidationMessageFor(model => model.UntilTime)

        <button type="submit">Submit</button>
    </div>
}
</body>
</html>
